* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER */
header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header h1 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

/* SOBRE */
section {
    padding: 24px 0;
    color: #182c61;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

section .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.store-front {
    margin-right: 32px;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

/* CONTATO */
.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182c61;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #3555ac;
}

input:focus, textarea:focus {
    outline-color: #182c61;
}

/* FOOTER */
footer {
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
}

