* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

/* HEADER */
body > header {
    background-color: #2F3640;
    padding: 16px 0;
    color: #f5f6fa;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f6fa;
    text-decoration: none;
}

/* SECTION */
section {
    padding: 16px 0;
}

section h2 {
    font-size: 32px;
}

section h2, .articles article {
    margin-bottom: 16px;
}

/* ARTICLES */
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article {
    width: 30%;
}

.articles article h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
}

.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

/* ESPORTES */
#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: #009432;
}

/* ECONOMIA */
#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

/* ENTRETENIMENTO */
#entertainment {
    background-color: #f1bbcb;
}

#entertainment .articles article a {
    background-color: #be5a77;
}

/* TECNOLOGIA */
#technology {
    background-color: #b8c8f0;
}

#technology .articles article a {
    background-color: #5472bd;
}








